---
---

@import "variables";
@import "base";
@import "layout";
@import "masthead";
@import "posts";
@import "syntax";
@import "type";
@import "code";
@import "pagination";
@import "message";
@import "toc";

body, html, p, li, span, a, h1, h2, h3, h4, h5, h6 {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
  letter-spacing: -0.01em;
}

html {
  font-size: 16px; /* Scales the baseline font for the entire site */
}

body, p {
  font-size: 1rem; /* Adjusts paragraph body text size */
}

h1 {
  font-size: 2rem; /* Optional: Make headers pop more if needed */
}

h2 {
  font-size: 1.75rem; /* Optional: Make headers pop more if needed */
}

h3 {
  font-size: 1.5rem; /* Optional: Make headers pop more if needed */
}
