---
---

@import "variables";
@import "base";
@import "layout";
@import "masthead";
@import "posts";
@import "syntax";
@import "type";
@import "code";
@import "pagination";
@import "message";
@import "toc";

html {
  font-size: 18px; /* Scales the baseline font for the entire site */
}

body, p {
  font-size: 1.1rem; /* Adjusts paragraph body text size */
}

h1, h2, h3 {
  font-size: 2.2rem; /* Optional: Make headers pop more if needed */
}
